<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <!-- Product name -->
      {{ product.name | uppercase }}
    </h3>
  </div>
  <div class="panel-body">
    <!-- <p [style.color]="product.isAvailable ? 'blue' : 'red'"> -->
    <p [ngStyle]="getDescriptionStyle()">
      <!-- Product description -->
      {{ product.description | shorten : 100 }}
    </p>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      Availabile?
      <!-- <span class="label" [class.label-success]="product.isAvailable" [class.label-warning]="!product.isAvailable"> -->
      <span class="label" [ngClass]="{ 'label-success': product.isAvailable, 'label-warning': !product.isAvailable}">
        <!-- Product availability -->
        {{ product.isAvailable ? "Yes" : "No" }}
      </span>
    </li>
    <li class="list-group-item">
      <!-- Product price -->
      Price: {{ product.price | currency : "USD" : true }}
    </li>
  </ul>
</div>
